{% extends 'administrator/base.html' %}
{% load static %}
{% block title %}Sneakee | Edit User{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<style>
  .form-container{
    margin:10px 0px;
  }
</style>
<div class="content-area">
  <div class="form-container">
    <div class="form-box">
      <h2>Edit User</h2>

      {% if messages %}
        <div class="message-container">
          {% for message in messages %}
            <div class="alert {{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <form method="POST" action="{% url 'edituser' %}" class="user-form">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{user_id}}">
        <input type="text" name="username" placeholder="Username" value="{{username}}"/>
        <input type="text" name="email" placeholder="Email" value="{{email}}"/>
        <input type="password" name="password" placeholder="Password" value="{{password}}"/>
        <input type="text" name="address" placeholder="Address" value="{{address}}"/>
        <input type="tel" name="phone" placeholder="Phone Number" value="{{phone}}"/>
        {% if not request.user.is_staff%}
          <textarea name="shipping_address1" placeholder="Shipping Address 1">{{ shipping_address1|default:"" }}</textarea>
          <textarea name="shipping_address2" placeholder="Shipping Address 2">{{ shipping_address2|default:"" }}</textarea>
        {% endif %}

        <button type="submit" class="btn-register">Edit</button>
      </form>
    </div>
  </div>
</div>

<script>
  // auto hide messages after 4 seconds
  setTimeout(() => {
    document.querySelectorAll('.alert').forEach(el => el.style.display = 'none');
  }, 4000);
</script>

{% endblock %}
