{% extends 'customer/base.html' %}
{% block title %}Sneakee | Shipping Address{% endblock %}
{% load static%}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/shippingaddress.css' %}">
</head>
<body>
  <main>
    <div class="form-box">

        <h2>
            {% if shippingaddress and shippingaddress.id %}
                Edit Shipping Address
            {% else %}
                Add New Shipping Address
            {% endif %}
        </h2>

        <!-- Display error messages -->
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Form posts to different views based on next_page -->
        {% if next_page == 'order' %}
            <form method="POST" action="{% url 'shippingaddress_order' %}">
        {% else %}
            <form method="POST" action="{% url 'shippingaddress' %}">
        {% endif %}
            {% csrf_token %}
            <input type="hidden" name="formshippingaddress_id" value="{% if shippingaddress.id %}{{ shippingaddress.id }}{% endif %}">
            <input type="hidden" name="next_page" value="{{ next_page }}">
            <input type="hidden" name="cart_id" value="{{ cart_id|default:'' }}">
            <input type="hidden" name="variant_id" value="{{ variant_id|default:'' }}">
            <input type="hidden" name="quantity" value="{{ quantity|default:'' }}">


            <!-- Contact Person-->
            <div>
                <label>Contact Person <span style="color: red;">*</span></label>
                <input type="text" name="contact_person" placeholder="Please enter your contact person" 
                       value="{% if shippingaddress.contact_person %}{{ shippingaddress.contact_person }}{% else %}{{ request.user.username }}{% endif %}">
            </div>

            <!-- Contact Number-->
            <div>
                <label>Contact Number <span style="color: red;">*</span></label>
                <input type="text" name="contact_number" placeholder="Please enter your contact number" 
                       value="{% if shippingaddress.contact_number %}{{ shippingaddress.contact_number }}{% else %}{{ request.user.phone }}{% endif %}">
            </div>

            <!-- Location -->
            <div>
                <label>Location of <span style="color: red;">*</span></label>
                <select name="location_of">
                    <option value="Home" {% if not shippingaddress or not shippingaddress.location_of or shippingaddress.location_of == "Home" %}selected{% endif %}>Home</option>
                    <option value="Office" {% if shippingaddress and shippingaddress.location_of == "Office" %}selected{% endif %}>Office</option>
                    <option value="Others" {% if shippingaddress and shippingaddress.location_of == "Others" %}selected{% endif %}>Others</option>
                </select>
            </div>

            <!-- Province -->
            <div>
                <label>Province <span style="color: red;">*</span></label>
                <select name="province">
                    <option value="" disabled {% if not shippingaddress or not shippingaddress.province %}selected{% endif %}>Please choose your province</option>

                    <option value="Koshi" {% if shippingaddress and shippingaddress.province == "Koshi" %}selected{% endif %}>Koshi</option>
                    <option value="Madhesh" {% if shippingaddress and shippingaddress.province == "Madhesh" %}selected{% endif %}>Madhesh</option>
                    <option value="Bagmati" {% if shippingaddress and shippingaddress.province == "Bagmati" %}selected{% endif %}>Bagmati</option>
                    <option value="Gandaki" {% if shippingaddress and shippingaddress.province == "Gandaki" %}selected{% endif %}>Gandaki</option>
                    <option value="Lumbini" {% if shippingaddress and shippingaddress.province == "Lumbini" %}selected{% endif %}>Lumbini</option>
                    <option value="Karnali" {% if shippingaddress and shippingaddress.province == "Karnali" %}selected{% endif %}>Karnali</option>
                    <option value="Sudurpashchim" {% if shippingaddress and shippingaddress.province == "Sudurpashchim" %}selected{% endif %}>Sudurpashchim</option>
                </select>
            </div>

            <!-- District -->
            <div>
                <label>District <span style="color: red;">*</span></label>
                <input type="text" name="district" placeholder="Please enter" value="{% if shippingaddress and shippingaddress.district %}{{ shippingaddress.district }}{% endif %}">
            </div>

            <!-- City -->
            <div>
                <label>City <span style="color: red;">*</span></label>
                <input type="text" name="city" placeholder="Please enter" value="{% if shippingaddress and shippingaddress.city %}{{ shippingaddress.city }}{% endif %}">
            </div>

            <!-- Location -->
            <div>
                <label>Location <span style="color: red;">*</span></label>
                <input type="text" name="location" placeholder="For Example: Street #123, ABC Road" value="{% if shippingaddress and shippingaddress.location %}{{ shippingaddress.location }}{% endif %}">
            </div>

            <!-- Landmark -->
            <div>
                <label>Landmark <span style="color: red;">*</span></label>
                <input type="text" name="landmark" placeholder="Please enter" value="{% if shippingaddress and shippingaddress.landmark %}{{ shippingaddress.landmark }}{% endif %}">
            </div>

            <!-- Location Description -->
            <div>
                <label>Location Description</label>
                <textarea name="location_description" placeholder="Location Description (Optional)">{% if shippingaddress and shippingaddress.location_description %}{{ shippingaddress.location_description }}{% endif %}</textarea>
            </div>

            <!-- Buttons -->
            <div class="form-actions">
                {% if next_page == 'order' %}
                    <a href="{% url 'shippingaddress_order' %}?action=cancel&next_page={{ next_page }}&cart_id={{ cart_id|default:'' }}&variant_id={{ variant_id|default:'' }}&quantity={{ quantity|default:'' }}" 
                       class="btn-cancel" style="text-decoration:None;">
                        CANCEL
                    </a>
                {% else %}
                    <a href="{% url 'shippingaddress' %}?action=cancel&next_page={{ next_page }}" 
                       class="btn-cancel" style="text-decoration:None;">
                        CANCEL
                    </a>
                {% endif %}
                <button type="submit" class="btn-save" name="btn-save">SAVE</button>
            </div>

        </form>
    </div>
</main>
</body>
<script>
  // auto hide messages after 4 seconds
  setTimeout(() => {
    document.querySelectorAll('.alert').forEach(el => el.style.display = 'none');
  }, 4000);
</script>
</html>
{% endblock %}