{% extends 'customer/base.html' %}
{% block title %}Sneakee | Shipping Address{% endblock %}
{% load static%}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/shippingaddress.css' %}">
</head>
<body>
  <main>
      <div class="form-box">
        <h2>Add new shipping Address</h2>
        
        <form>
        <div>
            <label>Location of</label>
            <select name="location_of">
            <option value="Home">Home</option>
            <option value="Office">Office</option>
            <option value="Others">Others</option>
            </select>
        </div>
        <div>
            <label>Provience</label>
            <select name="province">
                <option disabled selected>Please choose your province</option>
                <option value="Koshi">Koshi</option>
                <option value="Madhesh">Madhesh</option>
                <option value="Bagmati">Bagmati</option>
                <option value="Gandaki">Gandaki</option>
                <option value="Lumbini">Lumbini</option>
                <option value="Karnali">Karnali</option>
                <option value="Sudurpashchim">Sudurpashchim</option>
            </select>
        </div>
        <div>
            <label>District</label>
            <input type="text" name="district" placeholder="Please enter">
        </div>
        <div>
            <label>City</label>
            <input type="text" name="city" placeholder="Please enter">
        </div>
        <div>
            <label>Address</label>
            <input type="text" name="address" placeholder="For Example:Street# 123, ABC Road">
        </div>
        <div>
            <label>Landmark</label>
            <input type="text" name="landmark" placeholder="Please enter">
        </div>
        <div>
            <label>Street or House No</label>
            <input type="text" name="streetorhouse_no" placeholder="Please enter">
        </div>
        <div>
            <label>Contact Number</label>
            <input type="text" name="contact" placeholder="Please enter your contact number">
        </div>
        <div class="form-actions">
            <button type="button" class="btn cancel">CANCEL</button>
            <button type="submit" class="btn save">SAVE</button>
        </div>
        </form>
    </div>
  </main>
</body>
</html>
{% endblock %}