<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M5RXPGC6CW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M5RXPGC6CW');
    //console.log('✅ GA4 Initialized - ID: G-M5RXPGC6CW');
  </script>
</head>
<body>
    {% include "customer/header.html" %}

    {% block content%}

    {% endblock %}

    {% include "customer/footer.html" %}
    {% block extra_js %}{% endblock %}
</body>
</html>