{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    </head>
    <body>
        <footer class="custom-footer">
            <div class="footer-container">
                <div class="footer-column-logo-column">
                    <img src="{% static 'images/Sneakee.png' %}" alt="Sneakee Logo">
                    <p>Your go-to store for sneakers and style.</p>
                </div>
                
                <div class="footer-column">
                    <span>Quick Links</span>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Categories</a></li>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">Offers</a></li>
                    </ul>
                </div>
                
                <div class="footer-column">                   
                    <span>Contact Us</span>
                    <p>Email: support@sneakee.com</p>
                    <p>Phone: +977-9812345678</p>
                    <p>Location: Kathmandu, Nepal</p>
                </div>
                
                <div class="footer-column">
                    <span>Newsletter</span>
                    <form>
                        <input type="email" placeholder="Enter your email">
                        <button type="submit">Subscribe</button>
                    </form>
    </div>
</div>
<div class="footer-bottom">
    <p>&copy; 2025 Sneakee. All rights reserved.</p>
</div>
</footer>


</body>
</html>
