{% extends 'administrator/base.html' %}
{% load static %}
{% block title %}Sneakee | Add Category{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/addcategory.css' %}">
    <script src="{% static 'js/addcategory.js' %}"></script>
</head>
<body>
<div class="content-area">
    <div class="form-container">
        <div class="form-box">

            <!-- Heading with Back Link on Top-Right -->
            <div class="form-header">
                <h2>Add New Brand</h2>
                <a href="#" class="back-link">&larr; Back</a>
            </div>

            {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}

            <form method="POST" action="{% if edit_mode %}{% url 'editbrand' %}{% else %}{% url 'addbrand' %}{% endif %}" enctype="multipart/form-data">

                {% csrf_token %}
                {% if edit_mode %}
                    <input type="hidden" name="brand_id" value="{{ brand.id }}">
                {% endif %}
                <div class="form-group">
                    <input type="text" name="brand_name" placeholder="Brand Name" value="{{ brand_name }}">
                    <span class="error-message" id="category_name_error"></span>
                </div>

                <div class="form-group">
                    <input type="text" name="slug" placeholder="Slug (URL friendly)" value="{{ slug }}">
                    <span class="error-message" id="slug_error"></span>
                </div>
                {% if edit_mode %}
                    <div class="form-group">

                        <div class="form-group-current-img">
                            <div>
                                <label>Current Brand Logo:</label><br>
                                <img src="{{ brand.brand_logo.url }}" id="current-picture">
                            </div>
                            <div>
                                <label>Current Brand Picture:</label><br>
                                <img src="{{ brand.brand_picture.url }}" id="current-picture">
                            </div>
                        </div>

                    </div>
                {% endif %} 
                {% if edit_mode %}
                    <br><strong>Upload Brand Logo and Picture In Order To Update:</strong><br>
                {% endif %}
                <div class="form-group">
                    <label>Brand Logo</label>
                    <input type="file" name="brand_logo">
                    <span class="error-message" id="brand_logo_error"></span>
                </div>
                
                <div class="form-group">
                    <label>Brand Picture (1080 X 900)px</label>
                    <input type="file" name="brand_picture">
                    <span class="error-message" id="brand_picture_error"></span>
                </div>

                <button type="submit" name="save_changes" class="btn-submit">
                    {% if edit_mode %} Update Brand {% else %} Add Brand {% endif %}
                </button>

            </form>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}