  body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }

  /*header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }*/

  h1 {
    text-align:center;
    font-size: 2em;
    color: #222;
    margin-bottom: 0px;
  }

  main {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  /* Category sections */
  .category-section {
    width: 100%;
    min-height: 95vh;
    position: relative;
  }


  .topbar{
      display:flex;
      align-items:center;
      justify-content:space-between;
      gap:10px;
      margin-bottom: 12px;
  }

  .category-section > .topbar p {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
  }

  .topbar form {
      display: flex;
      gap: 8px;
  }

  .topbar input[type=text] {
      padding: 8px 10px;
      border-radius: 5px;
      border: 1px solid #cbd5e1;
  }

  .search-btn {
    background-color: #080033;
    color: #fff;
    text-decoration: none;
    padding: 8px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}

.search-btn:hover {
    background-color: #1a0052;
}

  .products {
    position: relative;
    height: auto;
  }

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 20px 0;
    overflow: visible;
}

.product-cart-container{
  height:475px;
}
.product-card {
  flex: 0 0 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, height 0.3s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-card:hover {
  height: 450px; /* grows only from bottom */
}

/* FIX: stop stretching */
.product-image {
  height: 250px; /* fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.product-image img {
  width: 95%;
  height: 100%;
  object-fit: fill;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
}

.product-info {
  height: 100px; /* fixed height */
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-info h3 {
  font-size: 1rem;
  margin: 8px 0 4px;
  color: #222;
}

.product-info p {
  font-size: 0.9rem;
  color: #666;
  margin: 4px 0;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #191919;
  margin: 10px 0 10px;
}

/* Button hidden initially */
.btn {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 12px;
  min-width: 80%;
  background-color: #080033;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}


/* Button appears on hover */
.product-card:hover .btn {
  bottom: 10px;  /* move up into new space */
  opacity: 1;
}

.btn:hover {
  background-color: #fff;
  color: #100d22;
  border: 1px solid #cecece;
}


    /* ---------- Pagination ---------- */
        .pagination{
            margin-top: 12px;
            display:flex;
            gap: 6px;
            align-items:center;

            display:flex;
            align-items:center;
            justify-content:center;
        }
        .page-btn{
            padding:6px 10px;
            text-decoration:none;
            color:black;

            background:white;
            border:1px solid #cbd5e1;
            border-radius:5px;
            cursor:default;

        }

    @media (max-width: 768px) {
      .product-card {
        flex: 0 0 250px;
        height: 400px;
      }

      .arrow {
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
      }
    }